.page-entrance
  height calc(100vh - 77px)
  padding-left 24px
  padding-right 24px
  padding-top 136px
  // display flex
  // flex-direction row
  // align-items center
  .am-button-primary
    font-size 13px
    height 30px
    line-height 30px
