.mt12
  margin-top 12px
.mt24
  margin-top 24px
.mt52
  margin-top 52px

.pl24
  padding-left 24px
.pr24
  padding-right 24px

.red
  color #bd3e3e


html,
body,
#root,
.content
  height 100%
  font-size 14px
  color #333