.mt4
  margin-top 4px
.mt12
  margin-top 12px
.mt24
  margin-top 24px
.mt32
  margin-top 32px
.mt36
  margin-top 36px
.mt52
  margin-top 52px
.mt92
  margin-top 92px

.mr4
  margin-right 4px
.mr8
  margin-right 8px
.mr12
  margin-right 12px
.mr20
  margin-right 20px

.pl24
  padding-left 24px
.pl52
  padding-left 52px
.pl94
  padding-left 94px
.pr4
  padding-right 4px
.pr24
  padding-right 24px

.fs12
  font-size 12px

.red
  color #bd3e3e
.gray
  color #aeaeae

.nowrap
  white-space nowrap
.break-all
  word-break break-all
.ellipsis
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

.FBH
  display flex
.JCSB
  justify-content space-between
.AICT
  align-items center
.FB1
  flex 1


html,
body,
#root,
.content
  height 100%
  font-size 14px
  color #333
  .page
    background #fff
    padding-left 24px
    padding-right 24px
    padding-top 52px
    height calc(100vh - 129px)
