.frame,.ant-layout
  height 100%
//   background deepColor
//   color fontColor
//   min-width 1200px
// .frame
//   .ant-layout
//     padding 0!important
//     .ant-layout-sider
//       background baseColor
//       .ant-menu-submenu
//         background baseColor
//         .ant-menu-submenu-title
//           margin 0
//           border-bottom 1px solid deepColor
//     .ant-layout-content
//       padding 0!important
//       overflow scroll
//       .page-title
//         height 72px
//         line-height 72px
//         color fontColor
//         font-size 16px
//         background baseColor
//         box-sizing border-box
//         padding-left 24px
//         border-left 1px solid deepColor
//       .page-content
//         box-sizing border-box
//         min-height calc(100vh - 136px)
//         margin 16px
//         padding 16px
//         background baseColor